@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #602c8298;
}

main{
    position: relative;
    
    height: 100vh;
    width: 100vw;    
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);  
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem{
    display: block;
    background: antiquewhite url(../imagens/mural.jpg) no-repeat;
    background-size: cover;
    background-position: center, bottom;
    height: 200px;
}

div#form{
    display: block;
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;    
}

div#form > p{
    font-size: 0.8em;
    padding: 5px;
}

div.campo{
    background-color: #602c82c5;
    border: 2px solid #602c82c5;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #53b4b1;
    font-size: 1em;
    width: calc(100% - 45px);    
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;    
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;    
    background-color: #3a807d;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover{
    background-color: #2b615e;    
    cursor: pointer;
}

a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    color: #316d6b;
}

a.botao:hover{
    background-color: #53b4b1;
}

a.botao > span{
    font-size: 0.8em;
}